
@{
    Layout = null;
    ViewBag.Title = "Error";
}

<h2>Sorry an error is occured while processing your request</h2>
<p><strong>@ViewBag.err</strong></p>
@*<h3>*@
@*    <strong>Exception Details: </strong>*@
@*</h3>*@
@*<p>*@
@*    Controller: @Model.ControllerName <br/>*@
@*    Action: @Model.ActionName <br/>*@
@*    Exception: @Model.Exception.StackTrace <br/>*@
@*</p>*@